<!-- SPDX-License-Identifier: AGPL-3.0-or-later -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Spark: Dashboard</title>
    <link rel="stylesheet" href="./pure-min.css">
    <style>
        /* Jog button layout */
        .jog-cross,
        .jog-z {
            display: inline-block;
            margin-right: 2em;
        }

        .jog-row {
            display: flex;
            justify-content: center;
        }

        .jog-cell {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .jog-btn {
            width: 50px !important;
            height: 50px !important;
            min-width: 50px;
            padding: 0;
            font-size: 12px;
        }

        .jog-z {
            padding-left: 2em;
        }

        .jog-z-row {
            margin-bottom: 0.2em;
        }
    </style>
</head>

<body>
    <div class="pure-g" id="app">
        <div class="pure-u-2-5">
            <h1>Status</h1>
            <p>
                <span :title="'Detailed status: ' + clientStatus">{{ statusEmoji }} {{ uiStatus }}</span>
                {{ queueStatus }}
            </p>

            <div>{{ rebootStatus }}</div>

            <h1>Manual Command</h1>
            <button class="pure-button" @click="init">{{ initButtonText }}</button>
            <br />
            <textarea class="pure-input-1-2" v-model="commandText" rows="10" cols="50"
                placeholder="Enter G-code or commands"></textarea><br />
            <button class="pure-button" @click="send" :disabled="commands.length === 0 || !assumeInitialized">{{
                executeButtonText }}</button>
            <button class="pure-button" @click="cancel">Cancel</button>
            <button class="pure-button" @click="analyzeLog">Analyze Log</button>
            <label class="pure-checkbox">
                <input type="checkbox" v-model="keepOnExec"> keep on exec
            </label>

            <h1>Jog</h1>
            <div>{{ statusText }}</div><br />
            <div class="pure-g">
                <!-- 4-button cross -->
                <div class="pure-u-1-2">
                    <div class="jog-cross">
                        <div class="jog-row">
                            <div class="jog-cell"></div>
                            <div class="jog-cell">
                                <button class="pure-button jog-btn" @click="jogXPlus">X+</button>
                            </div>
                            <div class="jog-cell"></div>
                        </div>
                        <div class="jog-row">
                            <div class="jog-cell">
                                <button class="pure-button jog-btn" @click="jogYPlus">Y+</button>
                            </div>
                            <div class="jog-cell"></div>
                            <div class="jog-cell">
                                <button class="pure-button jog-btn" @click="jogYMinus">Y-</button>
                            </div>
                        </div>
                        <div class="jog-row">
                            <div class="jog-cell"></div>
                            <div class="jog-cell">
                                <button class="pure-button jog-btn" @click="jogXMinus">X-</button>
                            </div>
                            <div class="jog-cell"></div>
                        </div>
                    </div>
                </div>

                <!-- 2-button Z up/down -->
                <div class="pure-u-1-2">
                    <div class="jog-z">
                        <div class="jog-z-row">
                            <button class="pure-button jog-btn" @click="jogZMinus">↑ Z-</button>
                        </div>
                        <div class="jog-z-row">
                            <button class="pure-button jog-btn" @click="jogZPlus">↓ Z+</button>
                        </div>
                    </div>
                </div>
            </div>

            <div style="margin-top: 1em;">
                <label class="pure-radio">
                    <input type="radio" name="jogStep" :value="0.1" v-model.number="jogStepMm"> 0.1mm
                </label>
                <label class="pure-radio">
                    <input type="radio" name="jogStep" :value="1" v-model.number="jogStepMm"> 1mm
                </label>
                <label class="pure-radio">
                    <input type="radio" name="jogStep" :value="5" v-model.number="jogStepMm"> 5mm
                </label>
            </div>

            <h1>Tool Supply</h1>
            <button class="pure-button" @click="clamp">Clamp</button>
            <button class="pure-button" @click="unclamp">Unclamp</button>
            <br />
            <button class="pure-button" @click="open">Open</button>
            <button class="pure-button" @click="close">Close</button>
            <br />
            <button class="pure-button" @click="moveToTs">Move to TS</button>
            <button class="pure-button" @click="tsInsert">Insert</button>
            <button class="pure-button" @click="tsPull">Pull</button>

            <h1>Recent G1</h1>
            <div v-if="g1Commands.length === 0">
                <em>No G1 commands</em>
            </div>
            <div v-else>
                <div v-for="g1 in g1Commands" :key="g1.startLineNum">
                    {{ g1.startTime.split(' ')[1] }} ~
                    {{ g1.duration }}s
                    <span v-if="!g1.endTime">(executing)</span>
                    {{ g1.command }}
                </div>
            </div>
        </div>
        <div class="pure-u-3-5">
            <h1>EDML (250ms/line)</h1>
            <canvas ref="edml" width="500" height="1000"></canvas>
        </div>
    </div>

    <script src="vue.global.js"></script>
    <script src="spooler.js"></script>
    <script src="main.js"></script>
</body>

</html>