<!-- SPDX-License-Identifier: AGPL-3.0-or-later -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Spark: Dashboard</title>
    <link rel="stylesheet" href="./pure-min.css">
</head>

<body>
    <div class="pure-g" id="app">
        <div class="pure-u-2-5">
            <h1>Status</h1>
            <p>Shell Spooler: {{spooler_status}}</p>
            <p>Core Status: Unknown</p>
            <p>Machine Status: Unknown</p>
            <p v-if="status">{{ status }}</p>
            <button class="pure-button" @click="refresh">Refresh</button>

            <h1>Axes</h1>
            <button class="pure-button" @click="move_xm">X-</button>
            <button class="pure-button" @click="move_xp">X+</button>
            <button class="pure-button" @click="home">Home</button>

            <h1>Manual Command</h1>
            <textarea class="pure-input-1-2" v-model="data" rows="10" cols="50"
                placeholder="Enter G-code or commands"></textarea><br />
            <button class="pure-button" @click="send">Send to Spooler</button>
        </div>
        <div class="pure-u-3-5">
            <h1>Serial Log</h1>
            <pre style="height:500px; overflow: scroll">{{ log_output }}</pre>
        </div>
    </div>

    <script src="vue.global.js"></script>
    <script src="main.js"></script>
</body>

</html>